{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dev.ListaItens$</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>

{% block container %}

{% endblock %}

<footer>
    <p>dev.ListaIten$</p>
</footer>

    <script>
        const Modal = {
            open() {
                document.querySelector('.modal-overlay').classList.add('active')
            },
            close() {
                document.querySelector('.modal-overlay').classList.remove('active')
            }
        }
    </script>

</body>
</html>