{% extends 'base.html' %}
{% load static %}
{% block titulo %} Dev.ListaIten$ {% endblock %} 
{% block container %}

<header>
  <h2 class="lista">Lista</h2>
</header>

<main class="container">
  
  <section id="balance">
      <h2 class="sr-only">Balanço</h2>

      <div class="card">
          <h3>
              <span>Entrada</span>
              <img src="{% static 'assets/income.svg' %}" alt="Image de entradas">
          </h3>
          <p>R$ 5.000,00</p>
      </div>
      <div class="card">
          <h3>
              <span>Saidas</span>
              <img src="{% static 'assets/expense.svg' %}" alt="Image de saidas">
          </h3>
          <p>R$ 2.000,00</p>
      </div>
      <div class="card total">
          <h3>
              <span>Total</span>
              <img src="{% static 'assets/total.svg' %}" alt="Image de total">
          </h3>
          <p>R$ 3.000,00</p>
      </div>   
  </section>

  <section id="transaction">
      <h2 class="sr-only">Lista Tarefas</h2>

      <a href="#" onclick="Modal.open()" class="button new">+ Novo item</a>

      <table id="data-table">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Check</th>
                  <th>Conteudo</th>
                  <th>Categoria</th>
                  <th>Data termino</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            {% for lista in listas %}
              <tr>
                  <td class="verde"> {{ lista.titulo }}</td>
                  <td><input type="checkbox" class="checkbox" name="checkedbox" id="{{ lista.id }}" value="{{ todo.id }}" style=""></td>
                  <td class="description">{{ lista.conteudo }}</td>
                  <td class="vermelho">{{ lista.categoria }}</td>
                  <td class="date">{{ lista.data_termino }}</td>
                  <td>
                      <a href="{% url 'excluir-item' lista.id %}">
                        <img src="{% static 'assets/minus.svg' %}" alt="Remover item">
                      </a>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </section>
</main>

<div class="modal-overlay">
  <div class="modal">
      <div id="form">

          <h2>Nova Tarefa</h2>

          <form method="POST"> {% csrf_token %}
              <div class="input-group">
                  <label class="sr-only" for="description">Titulo</label>
                  {{ form.titulo }}
              </div>

              <div class="input-group">
                <label class="sr-only" for="description">Conteudo</label>
                {{ form.conteudo }}
              </div>

              <div class="input-group">
                  <label class="sr-only" for="date">Data termino</label>
                  {{ form.data_termino }}
              </div>

              <div class="input-group">
                <label class="sr-only" for="conteudo">Categoria</label>
                {{ form.categoria }}
              </div>

              <div class="input-group actions">
                  <a onclick="Modal.close()" class="button cancel">Cancelar</a>
                  <button type="submit">Salvar</button>
              </div>

          </form>
      </div>
  </div>
</div>

{% endblock %}
